.menu {
	padding-left: 500px;
	margin-left: 35%;

}
li {
	display:inline-block;
	width: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
}
li a {
	list-style: none;
	text-decoration: none;
	color:black;
	font-family: 'Oswald';
	text-align: center;
}
.fondo {
	background:url(../images/jardin-balcon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	position:relative;
}

.logo {
	position:relative;
	left:590px;
	top:100px;
}
.title {
	font-family:'Poppins';
	color: #A8ACBE;
	font-size: 30px;
	position:absolute;
	left:570px;
	top:170px;
}
.to {
	position:absolute;
	left:515px;
	top:210px;
	color:#A8ACBE;
	font-family: 'Poppins';
}
.textura {
	background:url(../images/tile1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height:400px;
}
.perfil {
	width:200px;
	height:200px;
	float:right;
	margin-top:150px;
}
h2 {
	color:purple;
	font-family: 'Oswald';
	margin-top: 100px;
	margin-left: 150px;
}
.lorem {
	font-size: 13px;
	font-family: 'Oswald';
	padding-top: 30px;
	padding-right: 40px;
}
.blanco {
	margin-left: 250px;
	margin-right: 100px;
}
.favorito {
	margin-left: 540px;
	color:purple;
	font-family: 'Oswald';
}

h4 {
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: 5px;
}

.gatis {
	border-radius: 100%;
	margin:20px;
	border:2px solid purple;
	padding:2px;
	width:150px;
	height:150px;
}
h6 {
	margin-left: 15px;
}

.contact {
	background:url(../images/tile2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height:300px;
	
}
.contact-position {
	padding-top:50px;
	padding-left: 560px;
	color:purple;
	font-family: 'Oswald'
}
.iconos {
	margin-left: 400px;
}
.icon {
	padding-top: 30px;
	padding-left: 20px;
}